@import "tailwindcss";

.mapboxgl-popup-content {
  background: transparent !important;
  padding: 0 !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  border: none !important;
}

.mapboxgl-popup-tip {
  display: none !important;
}

